<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Nosotros - H. Consejo Estudiantil</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="/assets/css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <a class="navbar-brand" href="../index.html"><span class="fw-bolder text-primary">H. Consejo Estudiantil</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href="nosotros.html">Nosotros</a></li>
                            <li class="nav-item"><a class="nav-link" href="actividades.html">Actividades</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contactanos</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Nosotros</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Concejales</h2>
                                <!-- Download resume button-->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                                <a class="btn btn-primary px-4 py-3" href="https://drive.google.com/file/d/1Cb7vJC12Lyp4VQ_pBmmLCgMOel79gLbw/view?usp=sharing">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Descargar directorio
                                </a>
                            </div>
                            <!-- Concejal 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <img src="/assets/images/c_ximena.jpg" alt=".." width="100%">
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Ximena Barrera Guillen <br> Ing. Quimica</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Concejal 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <img src="/assets/images/c_angel.jpg" alt=".." width="100%">
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Jose Angel Subias Tovar<br> Ing. Mecatronica</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Concejal 3-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <img src="/assets/images/c_manuel.jpg" alt=".." width="100%">
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Manuel Salvador Lopez Negrete  <br> Ing. Electronica</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Concejal 4-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <img src="/assets/images/c_rodrigo.jpg" alt=".." width="100%">
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Rodigo Angeles Ruiz <br> Ing. Electronica</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Concejal 5-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <img src="/assets/images/c_miguel.jpg" alt=".." width="100%">
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Miguel Angel Sanchez Palma<br> Ing. en Gestion Empresarial</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Concejal 6-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <img src="/assets/images/c_alberto.jpg" alt=".." width="100%">
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Jesus Alberto Rodriguez Valencia <br> Ing. en Sistemas Computacionales</div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Education Section-->
                        <section>
                            <h2 class="text-primary fw-bolder mb-4">Valores</h2>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">H. Consejo Estudiantil</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>El Honorable Consejo Estudiantil es el máximo órgano de representación estudiantil de los alumnos de nivel licenciatura del Tecnológico Nacional de México en Celaya, constituido para la defensa de los derechos e intereses de los alumnos, así como la orientación a los mismos y el fortalecimiento de la comunidad estudiantil y del instituto.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">Mision</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            Trabajar por el bienestar, el desarrollo humano y académico de la comunidad estudiantil del Tecnológico Nacional de México en Celaya, asociando una proyección nacional e internacional; orientar a nuestros compañeros, organizar actividades que atiendan a la integración y el fortalecimiento de la comunidad estudiantil y del Instituto.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">Vision</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            Ser una organización estudiantil comprometida con el desarrollo integral de los alumnos, siendo quien represente sus intereses y derechos, fortaleciendo la imagen tanto interna como externa de nuestro instituto.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">Valores</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            HONESTIDAD:
                                            Ser, pensar y actuar con rectitud, propiciando la autenticidad, la equidad y la buena voluntad.
                                            RESPETO:
                                            Promover y propiciar un ambiente de respeto con todas las personas dentro y fuera de este organismo.
                                            COMPROMISO:
                                            Lograr propósitos comunes mediante el trabajo responsable y en equipo, mejorando de manera permanente el ser y quehacer del Instituto y la comunidad estudiantil.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            </main>
        <!-- Footer-->
        <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">Copyright &copy; H. Consejo Estudiantil 2023</div></div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
